.slideShow-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:azure;
    
}

.slideShow-Elements{

}

.slideShow-element{

    text-align: center;
    font-size: 8rem;
    color: brown;
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0.6s;
    
}

.slideShow-element h2{
    font-size: 8rem;
    font-family: 'Times New Roman', Times, serif;
    
}

.slideShow-element.current{
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.6s;
}
